{% sw_extends "@Storefront/storefront/layout/breadcrumb.html.twig" %}

{% block layout_breadcrumb_inner %}

	{% if category %}
		{% set breadcrumbCategories = sw_breadcrumb_full(category, context.context) %}
		{% set categoryId = category.id %}


		{% set breadcrumb = sw_breadcrumb(category) %}

		{% set breadcrumbKeys = breadcrumb|keys %}

		{% set breadcrumbTypes = sw_breadcrumb_build_types(breadcrumbCategories) %}

		<nav class="emz-nav-breadcrumb" aria-label="breadcrumb">
			{% block layout_breadcrumb_list %}
				{{parent()}}
			{% endblock %}
		</nav>
	{% endif %}
{% endblock %}
